{% extends "layout.html" %}
{% block body_content %}
<div class="row"></div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col align-self-center">
        <h1>{{ current_user.first_name }}'s Account</h1>
        <br>
        <div class='flex-column '>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <label for="firstname" class="col-sm-2 ">{{ form.first_name.label }}</label>
                    <div class="col-md-10">
                    {{ form.first_name }}
                    </div>
                    {% if form.first_name.errors %}
                    <div class="error">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="form-group row">
                    <label for="lastname" class="col-sm-2 ">{{ form.last_name.label }}</label>
                    <div class="col-md-10">
                    {{ form.last_name }}
                    </div>
                    {% if form.last_name.errors %}
                    <div class="error">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class='form_group row'>
                    <label for="email" class="col-sm-2 ">{{ form.email.label }}</label>
                    <div class="col-md-10">
                    {{ form.email }}
                    </div>
                    {% if form.email.errors %}
                        <div class='error'>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <br>
                <div class='form_group'>
                    {{ form.submit }}
                    </div>
            </form>
            <form class="jumbotron" action="{{ url_for('account_delete') }}">
                
                <button class="btn-outline-danger" type="submit">Delete your account</button>
                 <p class="bg-info">Note: All your Data will be Removed</p>

            </form>
        </div></div>
    <div class="col-md-3"></div>
</div>
<div class="row"></div>

        
{% endblock body_content %}