{% extends 'layout.html' %}
{% block body_content%}
<div class="row"></div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row"></div>

<div class="text-center jumbotron ">
<div><a href="{{ url_for('gen') }}"><button type="button" class="btn btn-outline-primary">Click here to generate a Code</button></a></div>
<br/>
<br>
<br>

<div class="alert alert-primary mx-5">
{% if code and prize %}
<p >Your generated code is </p>
<br>
<strong><h3>{{ code }}</h3></strong>
<br>
<p>and you Won </p>
<br>
<strong><h3>{{ prize }}£</h3></strong>
</div>
{% else %}
<p class="text-danger"> Please press the button above to get a code</p>
{% endif %}
</div>
{% endblock body_content %}